<h1>Editing user stat</h1>

<%= render "form", user_stat: @user_stat %>

<br>

<div>
  <%= link_to "Show this user stat", @user_stat %> |
  <%= link_to "Back to user stats", user_stats_path %>
</div>
